{% extends "knodemy/base/base_admin_dashboard.html" %}
{% load staticfiles %}
{% load  formfilters %}
{% block pagetitle %}Knodemy - Edit Event{% endblock pagetitle %}
{% block headscripts %}{% endblock headscripts %}

{% block pageheading %} Edit Event {% endblock pageheading %}

{% block content %}

          	<div class="row mt">
                  <div class="col-md-6">

                      <div class="form-panel">
                          <h4 class="mb"><i class="fa fa-angle-right"></i> Edit Event </h4>
                          <form class="form-horizontal style-form" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <p><strong>Event Details</strong></p>
                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Name</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_name|addcss:'form-control' }}
                                      {{ form.event_name.help_text }}
                                      {% if form.event_name.errors %}
                                          <div class="errors">{{ form.event_name.errors }}</div>
                                      {% endif %}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Date</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_date|addcss:'form-control' }}
                                      {{ form.event_date.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Theme</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_theme|addcss:'form-control' }}
                                      {{ form.event_theme.help_text }}

                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Participant Grade Level</label></div>
                                  <div class="col-sm-12">
                                      {{ form.participant_grade_level|addcss:'form-control' }}
                                      {{ form.participant_grade_level.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Start Time</label></div>
                                  <div class="col-sm-12">
                                      {{ form.start_time|addcss:'form-control' }}
                                      {% if form.start_time.errors %}
                                          {{ form.start_time.errors }}
                                      {% endif %}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event End Time</label></div>
                                  <div class="col-sm-12">
                                      {{ form.end_time|addcss:'form-control' }}
                                      {% if form.end_time.errors %}
                                          {{ form.end_time.errors }}
                                      {% endif %}
                                  </div>
                              </div>
                              <p><strong>Event Location</strong></p>
                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Location Name</label></div>
                                  <div class="col-sm-12">
                                      {{ form.location_name|addcss:'form-control' }}
                                      {{ form.location_name.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Address 1</label></div>
                                  <div class="col-sm-12">
                                      {{ form.location_address_1|addcss:'form-control' }}
                                      {{ form.location_address_1.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Address 2</label></div>
                                  <div class="col-sm-12">
                                      {{ form.location_address_2|addcss:'form-control' }}
                                      {{ form.location_address_2.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">City</label></div>
                                  <div class="col-sm-12">
                                      {{ form.city|addcss:'form-control' }}
                                      {{ form.city.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">State</label></div>
                                  <div class="col-sm-12">
                                      {{ form.state|addcss:'form-control' }}
                                      {{ form.state.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Zip Code</label></div>
                                  <div class="col-sm-12">
                                      {{ form.zip_code|addcss:'form-control' }}
                                      {{ form.zip_code.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Country</label></div>
                                  <div class="col-sm-12">
                                      {{ form.country|addcss:'form-control' }}
                                      {{ form.country.help_text }}
                                  </div>
                              </div>

                              <p><strong>Event Description</strong></p>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event Details</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_details|addcss:'form-control' }}
                                      {{ form.event_details.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Optional Details</label></div>
                                  <div class="col-sm-12">
                                      {{ form.optional_event_details|addcss:'form-control' }}
                                      {{ form.optional_event_details.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Event FAQ</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_FAQ|addcss:'form-control' }}
                                      {{ form.event_FAQ.help_text }}
                                  </div>
                              </div>

                              <p><strong>Event Contact</strong></p>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Admin Contact Name</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_contact_name|addcss:'form-control' }}
                                      {{ form.event_contact_name.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Contact Email</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_contact_email|addcss:'form-control' }}
                                      {{ form.event_contact_email.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Contact Phone Number</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_contact_phone|addcss:'form-control' }}
                                      {{ form.event_contact_phone.help_text }}
                                  </div>
                              </div>

                              <p><strong>Upload Event Images</strong></p>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Upload</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_banner|addcss:'form-control' }}
                                      {{ form.event_banner.help_text }}
                                      <p><a data-toggle="modal" href="#myModal"><label class="control-label">Image requirements</label></a></p>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Knodemy Code</label></div>
                                  <div class="col-sm-12">
                                      {{ form.event_access_code|addcss:'form-control' }}
                                      {{ form.event_access_code.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-12"><label class="control-label">Registration Code</label></div>
                                  <div class="col-sm-12">
                                      {{ form.registration_code|addcss:'form-control' }}
                                      {{ form.registration_code.help_text }}
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div  class="col-md-4">
                                      <button type="submit" class="btn btn-theme btn-block">Save</button>
                                  </div>
                                  <div  class="col-md-4">
                                      <button class="btn btn-theme btn-block">Preview Event Page</button>
                                  </div>
                                  <div  class="col-md-4">
                                      <a data-toggle="modal" href="#cancel-model" class="btn btn-theme btn-block">Cancel</a>
                                  </div>
                              </div>

                          </form>
                      </div>

                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Image requirements</h4>
                          </div>
                          <div class="modal-body">
                              <p>a. Guidelines for Image File</p>
                              <p>b. Dimensions:​ Please select an image that is at least 2160 x 1080px.</p>
                              <p>c. File Type:​ Images can only be selected with file types JPEG, PNG, BMP, or GIF.</p>
                              <p>d. File Size:​ Please do not use images larger than 10 MB</p>
                              <p>e. General Requirements: ​Please adhere to our image guidelines in order to attract more attendees to your event.</p>
                              <p> This uploaded image will be used as a header background for generating a flyer for marketing purposes. </p>

                          </div>
                          <div class="modal-footer">
                              <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          </div>
                      </div>
                </div>
            </div>

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="cancel-model" class="modal fade">
                <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Cancel event</h4>
                          </div>
                          <div class="modal-body">
                              <p>Are you sure you want to cancel?</p>
                          </div>
                          <div class="modal-footer">
                              <button data-dismiss="modal" class="btn btn-default" id="cancel-event" type="button">Yes</button>
                              <button data-dismiss="modal" class="btn btn-default" type="button">No</button>
                          </div>
                      </div>
                </div>
            </div>

{% endblock content %}

{% block javascriptlinks %}


{% endblock javascriptlinks %}

{% block javascript %}
    <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>
    <script>

    $(function(){
        $('#cancel-event').click(function() {
            window.location.href = '/admindashboard/'
        })
    });


    </script>
{% endblock javascript %}